In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Load Data Set

In [6]:
df = pd.read_csv("female_rural.csv")

In [8]:
df.head()

,cc_num,acct_num,trans_num,unix_time,category,amt,is_fraud,merchant,merch_lat,merch_long
0,4.891077e+18,402211201664,3e83e0a77771558c6daf6bdd272f6c4c,1650832775,grocery_pos,57.81,0,Johnson and Sons,38.537479,-82.777755
1,4.891077e+18,402211201664,20819ecd9109e9cf302f355517626bc7,1650129428,grocery_pos,69.54,0,"Williams, Vega and White",40.320563,-82.720365
2,4.891077e+18,402211201664,92a533083ef1d32858926edf549935a1,1645891540,gas_transport,56.06,0,Gardner-Mcdonald,39.115711,-81.762917
3,4.891077e+18,402211201664,b516532ac635ab0c2359796d25ba33e1,1645202314,gas_transport,74.61,0,"Scott, Anderson and Allison",38.785439,-81.963553
4,4.891077e+18,402211201664,49d86d3aca8789a0cbec73d3190044a5,1644528165,gas_transport,55.61,0,Johnston Ltd,40.022723,-83.285232

## Data Split

In [11]:
x_split = df.drop(['is_fraud'], axis=1)
x_split.head()

,cc_num,acct_num,trans_num,unix_time,category,amt,merchant,merch_lat,merch_long
0,4.891077e+18,402211201664,3e83e0a77771558c6daf6bdd272f6c4c,1650832775,grocery_pos,57.81,Johnson and Sons,38.537479,-82.777755
1,4.891077e+18,402211201664,20819ecd9109e9cf302f355517626bc7,1650129428,grocery_pos,69.54,"Williams, Vega and White",40.320563,-82.720365
2,4.891077e+18,402211201664,92a533083ef1d32858926edf549935a1,1645891540,gas_transport,56.06,Gardner-Mcdonald,39.115711,-81.762917
3,4.891077e+18,402211201664,b516532ac635ab0c2359796d25ba33e1,1645202314,gas_transport,74.61,"Scott, Anderson and Allison",38.785439,-81.963553
4,4.891077e+18,402211201664,49d86d3aca8789a0cbec73d3190044a5,1644528165,gas_transport,55.61,Johnston Ltd,40.022723,-83.285232

In [13]:
y_split = df['is_fraud']
y_split

0       0
1       0
2       0
3       0
4       0
       ..
3575    0
3576    0
3577    0
3578    0
3579    0
Name: is_fraud, Length: 3580, dtype: int64

## Using Encoding

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [18]:
X_encoder = x_split.apply(LabelEncoder().fit_transform)
X_encoder.head()

,cc_num,acct_num,trans_num,unix_time,category,amt,merchant,merch_lat,merch_long
0,1,1,891,860,4,1690,1341,151,2370
1,1,1,440,789,4,1937,2964,1713,2423
2,1,1,2050,339,2,1649,903,681,3238
3,1,1,2532,284,2,2019,2438,374,3069
4,1,1,1059,236,2,1639,1370,1455,1889

In [20]:
X = X_encoder
X.head()

,cc_num,acct_num,trans_num,unix_time,category,amt,merchant,merch_lat,merch_long
0,1,1,891,860,4,1690,1341,151,2370
1,1,1,440,789,4,1937,2964,1713,2423
2,1,1,2050,339,2,1649,903,681,3238
3,1,1,2532,284,2,2019,2438,374,3069
4,1,1,1059,236,2,1639,1370,1455,1889

In [22]:
y = y_split
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

## Train & Test Data Split

In [25]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
X_train.shape

(2864, 9)

In [29]:
X_test.shape

(716, 9)

In [31]:
y_train.shape

(2864,)

In [33]:
y_test.shape

(716,)

## Algorithm Implementation & Creat The Classification

## Decession Tree Algorithm

In [38]:
from sklearn import tree
model = tree.DecisionTreeClassifier(class_weight='balanced', random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [40]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 1.0000

## Random Forest Algorithm

In [43]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)  
rf_model.fit(X_train, y_train)
y_pred = rf_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)  
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 1.0000

## Ensemble Learning Implementaion

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.metrics import accuracy_score
from sklearn.exceptions import NotFittedError

file_path = ("female_rural.csv")
try:
    data = pd.read_csv(file_path)
except FileNotFoundError:
    print("Error: File not found. Please check the file path.")
    exit()

print("Dataset head:\n", data.head())
print("\nDataset info:\n")
data.info()

if data.isnull().sum().sum() > 0:
    print("Warning: Dataset contains missing values. Filling with mean.")
    data.fillna(data.mean(), inplace=True)

X = data.iloc[:, :-1]
y = data.iloc[:, -1]

if pd.api.types.is_numeric_dtype(y) and y.nunique() > 10:
    print("Converting continuous target into categorical labels.")
    y = pd.cut(y, bins=3, labels=[0, 1, 2])  # Binning into 3 classes as an example

X = pd.get_dummies(X, drop_first=True) 

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Initialize classifiers
knn = KNeighborsClassifier()
log_reg = LogisticRegression(max_iter=200)  
svm = SVC(probability=True)
dec_tree = DecisionTreeClassifier()
rand_forest = RandomForestClassifier()

voting_clf = VotingClassifier(
    estimators=[
        ('knn', knn),
        ('log_reg', log_reg),
        ('svm', svm),
        ('dec_tree', dec_tree),
        ('rand_forest', rand_forest)
    ],
    voting='soft'  
)

try:
    voting_clf.fit(X_train, y_train)
    fitted = True
except Exception as e:
    print(f"Error during model training: {e}")
    fitted = False

if fitted:
    try:
        y_pred = voting_clf.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        print(f'Ensemble Model Accuracy: {accuracy:.2f}')
    except NotFittedError:
        print("The VotingClassifier instance is not fitted yet. Please check individual classifiers.")
else:
    print("Model training failed, unable to perform predictions.")

Dataset head:
          cc_num      acct_num                         trans_num   unix_time  \
0  4.891077e+18  402211201664  3e83e0a77771558c6daf6bdd272f6c4c  1650832775
1  4.891077e+18  402211201664  20819ecd9109e9cf302f355517626bc7  1650129428
2  4.891077e+18  402211201664  92a533083ef1d32858926edf549935a1  1645891540
3  4.891077e+18  402211201664  b516532ac635ab0c2359796d25ba33e1  1645202314
4  4.891077e+18  402211201664  49d86d3aca8789a0cbec73d3190044a5  1644528165

        category    amt  is_fraud                     merchant  merch_lat  \
0    grocery_pos  57.81         0             Johnson and Sons  38.537479
1    grocery_pos  69.54         0     Williams, Vega and White  40.320563
2  gas_transport  56.06         0             Gardner-Mcdonald  39.115711
3  gas_transport  74.61         0  Scott, Anderson and Allison  38.785439
4  gas_transport  55.61         0                 Johnston Ltd  40.022723

   merch_long
0  -82.777755
1  -82.720365
2  -81.762917
3  -81.963553
4  -83.285232

Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580 entries, 0 to 3579
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cc_num      3580 non-null   float64
 1   acct_num    3580 non-null   int64
 2   trans_num   3580 non-null   object
 3   unix_time   3580 non-null   int64
 4   category    3580 non-null   object
 5   amt         3580 non-null   float64
 6   is_fraud    3580 non-null   int64
 7   merchant    3580 non-null   object
 8   merch_lat   3580 non-null   float64
 9   merch_long  3580 non-null   float64
dtypes: float64(4), int64(3), object(3)
memory usage: 279.8+ KB
Converting continuous target into categorical labels.
Ensemble Model Accuracy: 1.00